@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto+Condensed:wght@400;700&display=swap");

:root {
    --primary-color: #2563eb;
    --primary-color-dark: #1e40af;
    --text-dark: #1f1f1f;
    --text-light: #4b5563;
    --extra-light: #f3f4f6;
    --white: #ffffff;
    --max-width: 1200px;
    --font-heading: "Roboto Condensed", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    background-image: url("assets/header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

nav {
    padding: 1rem 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.link {
    color: var(--white);
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.3s;
}

.link.logo {
    font-weight: 600;
}

.social__icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.social__icons span {
    color: var(--white);
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.link:hover,
.social__icons span:hover {
  color: var(--primary-color);
}

.header__container {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: calc(700px - 60px);
}

.header__content {
    text-align: center;
    color: var(--white);
    display: grid;
    place-content: center;
    gap: 1rem;
}

.header__content h1 {
    font-size: 10rem;
    line-height: 8rem;
}

.header__content p {
    letter-spacing: 2px;
}